header {
    padding: 20px; /*ヘッダ部分上下の余白*/

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image{
    width:100px;/*画像の大きさ*/
    height:auto;
}
summary{
    text-align:left;/*テキストを左にそろえる*/
    font-size:20px;
    padding-left:20px;/*左側に20pxの余白*/
}
.contents{
    text-align:center;/*テキストを中央にそろえる*/
}
body{
    background-color:#beebf0;/*メイン部分の背景の色*/
}

li a{
    display:block;
    color:black;/*目次部分の文字色*/
    padding:10px 0;

}
.title{
    text-align:center;
}
.toc{
    padding:0 15px;
}